<!-- Footer -->
<footer class="bg-black small text-center text-white-50">
  <div class="container">
  <div class="row">

      <div class="col-sm-3">
    <a href="http://go.art.pl/">Go w Polsce</a>
  </div>

   <div class="col-sm-3">
    <a href="http://lsg.go.art.pl/">Letnia Szkoła Go</a>
  </div>

     <div class="col-sm-3">
    <a href="http://psg.go.art.pl/">Polskie Stowarzyszenie Go</a>
  </div>

   <div class="col-sm-3">
    <a href="https://www.facebook.com/groups/polscy.goisci/">Grupa Facebookowa</a>
  </div>

  </div>
  <br>
  <br>
    Copyright &copy; Krakowski Klub Go 2022
  </div>
</footer>
