<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{%if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="">
  <meta property="og:title" content="{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}">
  <meta property="og:image" content="/img/jenot_small.png">
  <meta property="og:url" content="https://krakow.go.art.pl/tournaments/upcoming/">
  <meta property="og:description" content="Strona opisująca turniej Krakowskiego Klubu Go">



  <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>

  <link rel="shortcut icon" href="https://cdn6.aptoide.com/imgs/3/a/b/3abd0177d35c8a59fb091aaf9bbcbaa9_icon.png?w=256
">

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">


  <!-- Custom styles for this template -->
  <link href="/css/grayscale.css" rel="stylesheet">
  <link href="/css/go-results-highlighter.css" rel="stylesheet">

</head>
