---
layout: szop
title: "III Turniej w Szopie"
id: III
map_link: "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10248.85103357987!2d19.9526665!3d50.0448456!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbc6417b1f2f072fc!2sShop%20Gracz%20-%20sklep%20z%20grami%20planszowymi%2C%20karcianymi%20i%20bitewnymi!5e0!3m2!1spl!2spl!4v1656874508210!5m2!1spl!2spl"
registration_form_link: "https://docs.google.com/forms/d/e/1FAIpQLSem5_ZFfrdqqVr4d2I9_vMmKN-GOPtOwWVAia9d5ekkLw-rwQ/viewform?embedded=true"
registered_players_sheet_link: "https://docs.google.com/spreadsheets/d/e/2PACX-1vSkLA6TqdTt9Ws9A0RIuTqrdjfzZrh7kwOcCmT9vlNSa9-vonyAsh13uCYHagBS_pdxZB2eaTdqAxam/pubhtml?gid=0&single=true"
show_results: false
results_file: result_tables/szop_2.html

---

 <!-- Header -->
  <header class="masthead-mini">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="text-white mx-auto mt-5 mb-0">
          {{page.id}} {% t 'szop-default.header.name' %}
        </h1>
        <img clas="img-fluid" width="300px" src="/img/jenot.png" />
        <h2 class="mx-auto mt-2 mb-0">
          {% t 'szop-custom.{{page.id}}.date' %}
          <br> {% t 'szop-default.header.address' %}
        </h2>
    </div>
      </div>
  </header>

  {% if page.show_results %}
  <section id="results" class="base-section bg-light">
    <div class="container align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto mt-5 mb-0">{% t 'szop-default.results.name' %}</h1>
          {% include {{ page.results_file }} %}
        </div>
      </div>
    </section>
  {% endif %}

  <section id="rules" class="base-section bg-light">
    <div class="container mx-auto text-center">
      <h2>{% t 'szop-default.rules.name' %}</h2>
      <div class="d-flex justify-content-center">
      	<ul class='text-left'>
      	  <li>{% t 'szop-default.rules.rule_1' %}</li>
      	  <li>{% t 'szop-custom.{{page.id}}.rule_2' %}</li>
      	  <li>{% t 'szop-default.rules.rule_3' %}</li>
      	  <li>{% t 'szop-default.rules.rule_4' %}</li>
      	  <li>{% t 'szop-default.rules.rule_5' %}</li>
      	  <li>{% t 'szop-default.rules.rule_6' %}</li>
      	  <li>{% t 'szop-default.rules.rule_7' %}</li>
      	  <li>{% t 'szop-default.rules.rule_8' %}</li>
      	  <li>{% t 'szop-default.rules.rule_9' %}</li>
      	  <li>{% t 'szop-default.rules.rule_10' %}</li>
      	  <li>{% t 'szop-custom.{{page.id}}.rule_11' %}</li>
      	</ul>
      </div>
    </div>
  </section>


  <section id="info" class="base-section bg-light">
    <div class="container">
    <!-- map -->
    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-xl-8 col-lg-7">
		<div class="map-responsive">
		<iframe src={{ page.map_link }}
     width="400" height="300" frameborder="0" style="border:0" allowfullscreen>
   </iframe>
		</div>
      </div>
      <div class="col-xl-4 col-lg-5">
        <div class="featured-text text-center text-lg-left">
          <h2>{% t 'szop-default.info.name' %}</h2>
          <p class="text-black-50 mb-0">
            {% t 'szop-default.info.place_1' %} <br>
            {% t 'szop-default.info.place_2' %} <br>
            {% t 'szop-default.info.place_3' %}
          </p>
        </div>
      </div>
      </div>
  </section>

  <section id="harmonogram" class="base-section bg-light">
    <div class="container mx-auto text-center">
      <h2>{% t 'szop-default.harmonogram.name' %}</h2>
      <b>{% t 'szop-custom.{{page.id}}.date_header' %}</b>
      <div class="d-flex justify-content-center">
        <ul class='text-left'>
          <li>{% t 'szop-default.harmonogram.day1_1' %}</li>
          <li>{% t 'szop-default.harmonogram.day1_2' %}</li>
          <li>{% t 'szop-default.harmonogram.day1_3' %}</li>
          <li>{% t 'szop-default.harmonogram.day1_4' %}</li>
          <li>{% t 'szop-default.harmonogram.day1_5' %}</li>
          <li>{% t 'szop-default.harmonogram.day1_6' %}</li>
          <li>{% t 'szop-default.harmonogram.day1_7' %}</li>
        </ul>
      </div>
    </div>
  </section>

  <section id="registration" class="base-section bg-light">
    <div class="container mx-auto text-center">
      <h2> {% t 'szop-default.registration.name' %}</h2>
      <p><b>{% t 'szop-default.registration.info' %}</b></p>
      <iframe class="col-lg-8" src="{{ page.registration_form_link }}"
       height="1100" frameborder="2" marginheight="0" marginwidth="0">
        Ładuję…
     </iframe>
    </div>
  </section>

  <section class="base-section bg-light">
    <div class="container mx-auto text-center">
    <h2> {% t 'szop-default.registred.name' %}</h2>
    <iframe class="col-lg-8" src="{{ page.registered_players_sheet_link }}"
    height="650" frameborder="2" marginheight="0" marginwidth="0">
    </iframe>
    </div>
  </section>

  <section id="sponsors" class="base-section bg-light">
    <div class="container mx-auto text-center">
      <h2>{% t 'szop-default.sponsors.name' %}</h2>
      <div class="row">
        <div class="col-lg-4 mx-auto  mb-5">
          <a href="https://gomagic.org/" target="_blank" role="button" >
            <img src="/img/go-magic-logo.png" class='img-fluid my-auto' alt="" >
          </a>
        </div>
        <div class="col-lg-4 mx-auto  mb-5">
          <a href="https://shopgracz.pl/" target="_blank" role="button" >
            <img src="/img/szop-gracz-logo.jpg" class='img-fluid my-auto' alt="" >
          </a>
        </div>
      </div>
    </div>
  </section>

{% if page.show_results %}
  <script type="text/javascript">
    var results = document.getElementById('go-results').goResultsHighlighter;
  </script>
{% endif %}
